.outterr{
    color: #33186B;
}
.welcome{
    justify-content: center;
    text-align: center;
    padding: 100px;
    display: block;
}
.features{
    justify-content: center;
    text-align: center;
    background-color: #FAEED1;
    padding:100px;
    display: block;
}
  .cards{
    display: flex;
    /* padding: 150px; */
  }